.nav {
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  padding: 0 10px 0 20px;
  background: transparent;
  box-shadow: none;
}

.nav ul a {
  font-size: 1.1rem;
}
 
.selection-panel {
  margin-top: 10rem;
  padding-bottom: 6rem;
}

.jumbotron {
  background-image: url('/assets/images/jumbotron-banner.png');
  background-size: cover;
  background-position: right 0% bottom 10%;
}

.jumbotron-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: white;
}

.jumbotron-subheader {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
}

.select-wrapper input.select-dropdown {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: none;
  height: 2rem;
  line-height: 2rem;
  margin: 10px 0 5px 0;
}

.left-input {
  margin-right: 1%;
}

.row .col.s6 {
  width: 49.5%;
}

.input-field label {
  margin-top: 5px;
}

.col.s12 > .btn {
  width: 100%;
  background-color: white;
}

.col.s12 > .btn a {
  color: black;
}
